---
# tasks file for change-asg-elb-endpoint
- name: Get information of all ASGs
  ec2_asg_facts: 
    region: "{{ elb.region }}"
  register: asg_facts

- name: Get the names of the ASG that point to the desired ELB
  set_fact: old_asg_of_elb="{{ item.auto_scaling_group_name }}"
  with_items: "{{ asg_facts.results }}"
  when: elb.name in item.load_balancer_names

- name: Add the new ASG to the ELB
  command: 'aws autoscaling attach-load-balancers --region {{ elb.region }} --auto-scaling-group-name {{ asg.name }} --load-balancer-names {{ elb.name }}'

- name: Remove the old ASG from the ELB
  command: 'aws autoscaling detach-load-balancers --region {{ elb.region }} --auto-scaling-group-name {{ old_asg_of_elb }} --load-balancer-names {{ elb.name }}'
